.message-folders {
    margin-top: 30px;
}

.message-paginator .pagination {
    margin-top: 0;
    margin-left: 10px;
}

.folder-table tr {
    cursor: pointer;
}

.folder-table tr td:last-child {
    text-align: right;
}

.unread {
    font-weight: 700;
}

.message-actions .btn  {
    margin-left: 5px;
}